.clear {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/clear.jpg');
    background-size: cover;
}
.clouds {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/cloudysky.jpg');
    background-size: cover;
}
.rain {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/rain.jpg');
    background-size: cover;
}
.snow {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/snow.jpg');
    background-size: cover;
}
.fog {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/mist.jpg');
    background-size: cover;
}
.mist {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/mist.jpg');
    background-size: cover;
}
.drizzle {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('img/drizzle.jpg');
    background-size: cover;
}

body {
    font-family: 'Trebuchet MS';
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #f70000; */
}
u {
    margin-right: 15px;
}

h1 {
    font-size: 3em;
    position: relative;
}
#ville:hover {
    cursor: pointer;
    background-color: rgb(73, 73, 221);
}

i.wi {
    font-size: 5em;
    line-height: 2em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    color: #ffffff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: opacity .3s, top .5s;
}

h1:hover .tooltip {
    top: -50px;
    opacity: 1;
}

p#conditions {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

#ville {
    color : rgb(255, 255, 255);
}

.lowFontSize {
    font-size: 0.6em;
}
.redColor {
    color: red;
}
u {
    color: white;
}
.wi {
    color: white;
}
#container {
    height: 31em;
}
.marginRight {
    margin-right: 10px;
}
#wPlusTwo {
    margin-right: 20px;
    margin-left: 10px;
}